{% extends 'admin/base.html' %}
{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1>Docker Upload</h1>
    </div>
</div>
<div class="container">
    <form method="post" accept-charset="utf-8" autocomplete="off" role="form" name='docker_uploader' class="form-horizontal" enctype="multipart/form-data">
      <label> Upload your docker (Use the docker save command) </label>
      <label> When creating your challenge, please name it as follows: </label>
      <label> Author/name_of_the_challenge </label>
      <br>
      <label> The docker image should already have the necessary ports exposed. A random port number
        will be assigned to each port. The challenge must also be named before using the save command to create the tar archive </label>
      <input type="file" name="docker_image">

      {{ form.nonce() }}

      <div class="col-md-13 text-center">
        <button type="submit" tabindex="0" class="btn btn-md btn-primary btn-outlined">
            Submit
        </button>
      </div>

    </form>
</div>


{% endblock content %}
