{% extends "admin/challenges/update.html" %}
{% block category %}
<div class="form-group">
    <label>
        Category<br>
        <small class="form-text text-muted">Challenge Category</small>
    </label>
    <input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
</div>
<div class="form-group">
    <label for="TaskDefinition" id='taskdefinition_label'>Task Definition:
        <i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right"
            title="The ECS Task Definition for your challenge"></i>
    </label>
    <select id="taskdefinition_select" name="task_definition" class="form-control" required
        onchange="fetch_containers()"></select>
    <label for="entrypoint_container" id="entrypoint_container">Entrypoint Container (The container the user will
        connect to):</label>
    <select id="entrypoint_container_select" name="entrypoint_container" class="form-control"></select>
    <label for="subnet" id="subnet_label">Subnet:</label>
    <select id="subnet_select" name="subnet" class="form-control" required></select>
    <label for="security_group" id="security_group_label">Security Group:</label>
    <select id="security_group_select" name="security_group" class="form-control" required></select>
</div>
{% endblock %}
{% block footer %}
<script>
    var ECS_TASK_DEFINITION = '{{ challenge.task_definition }}';
    var ECS_SUBNET = '{{ challenge.subnet }}';
    var ECS_SECURITY_GROUP = '{{ challenge.security_group }}';
    var ECS_ENTRYPOINT_CONTAINER = '{{ challenge.entrypoint_container }}';
</script>
{% endblock %}
