{% extends "admin/challenges/update.html" %}
{% block category %}
<div class="form-group">
    <label>
        Category<br>
        <small class="form-text text-muted">Challenge Category</small>
    </label>
    <input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
</div>
<div class="form-group">
    <label for="DockerImage" id='dockerimage_label'>Docker Image:
        <i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right"
            title="The docker image for your challenge"></i>
    </label>
    <select id="dockerimage_select" name="docker_image" class="form-control" required></select>
    <label for="subnet" id="subnet_label">Subnet:</label>
    <!-- <input type="text" class="form-control" name="subnet" placeholder="Enter subnet" required> -->
    <select id="subnet_select" name="subnet" class="form-control" required></select>
    <label for="security_group" id="security_group_label">Security Group:</label>
    <select id="security_group_select" name="security_group" class="form-control" required></select>
    <!-- <input type="text" class="form-control" name="security_group" placeholder="Enter security group" required> -->
</div>
{% endblock %}
{% block footer %}
<script>
    var DOCKER_IMAGE = '{{ challenge.docker_image }}';
</script>
{% endblock %}
