{% extends 'admin/base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>ECS Status</h1>
    </div>
</div>
<div class="container">
    <div class="row" style="align-items: center;">
        <div>
            {% for error in errors %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <span class="sr-only">Error:</span>
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            {% endfor %}
            {% if tasks %}
            <table id='tasks' class="table table-striped">
                <thead>
                    <tr>
                        <th width="10px" class="text-center" style="cursor: pointer;" onclick="sortTable(0)">ID</th>
                        <th class="text-center" style="cursor: pointer;" onclick="sortTable(1)">Owner ID</th>
                        <th class="text-center" style="cursor: pointer;" onclick="sortTable(1)">Owner Name</th>
                        <th class="text-center" style="cursor: pointer;" onclick="sortTable(2)">ECS Task Definition</th>
                        <th class="text-center" style="cursor: pointer;" onclick="sortTable(3)">ECS Task ARN</th>
                        <th class="text-center">Connect</th>
                        <th class="text-center">Revoke</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr id='tr_{{task.instance_id}}' name='{{task.id}}'>
                        <td class='text-center' value='{{task.id}}'>{{task.id}}</td>
                        <td class='text-center' value='{{task.owner_id | safe }}'>{{task.owner_id | safe }}</td>
                        <td class='text-center' value='{{id_name_map[task.owner_id] | safe }}'>
                            {{id_name_map[task.owner_id] | safe }}</td>
                        <td class='text-center' value='{{task.task_definition}}'>{{task.task_definition}}</td>
                        <td class='text-center' value='{{task.instance_id | truncate(15)}}'>{{task.instance_id}}</td>
                        <td class='text-center'><button class="btn btn-dark"
                                onclick="connect_to_container('{{task.challenge_id}}', '{{task.owner_id | safe}}')">Connect</button>
                        </td>
                        <td class='text-center'><a id="delete_{{task.instance_id}}" style="cursor: pointer;"
                                class="fas fa-trash" onclick="check_nuke_container('{{task.instance_id}}', false)"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class='text-center'>
                <button type="button" class="btn btn-danger" onclick="check_nuke_container(null, true)">Nuke All
                    Containers</button>
            </div>
            {% else %}
            <h3 class='text-center'> No ECS Tasks Active</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tasks");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<script>
    function check_nuke_container(instance, all) {
        ezq({
            title: "Attention!",
            body: "Are You Sure You want to do this?",
            success: function () { nuke_container(instance, all) },
        });
    }

    function nuke_container(instance, all) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (all == true) {
                    window.location = '{{ script_root }}/admin/ecs_status'
                }
                else {
                    document.getElementById("tr_" + instance).style.display = "none";
                }
            } else if (this.readyState == 4 && this.status != 200) {
                ezal({
                    title: "Attention!",
                    body: "Error when Deleting ECS Task",
                    button: "Got it!",
                });
            }
        };
        xhttp.open("GET", "/api/v1/nuke?task=" + instance + "&all=" + all, true);
        xhttp.send();
    }
</script>
<script>
    var modal =
        '<div class="modal fade" tabindex="-1" role="dialog">' +
        '  <div class="modal-dialog" role="document">' +
        '    <div class="modal-content">' +
        '      <div class="modal-header">' +
        '        <h5 class="modal-title">{0}</h5>' +
        '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
        '          <span aria-hidden="true">&times;</span>' +
        "        </button>" +
        "      </div>" +
        '      <div class="modal-body">' +
        "        <p>{1}</p>" +
        "      </div>" +
        '      <div class="modal-footer">' +
        "      </div>" +
        "    </div>" +
        "  </div>" +
        "</div>";

    function ezq(args) {
        var res = modal.format(args.title, args.body);
        var obj = $(res);
        var deny =
            '<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>';
        var confirm = $(
            '<button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>'
        );

        obj.find(".modal-footer").append(deny);
        obj.find(".modal-footer").append(confirm);

        $("main").append(obj);

        $(obj).on("hidden.bs.modal", function (e) {
            $(this).modal("dispose");
        });

        $(confirm).click(function () {
            args.success();
        });

        obj.modal("show");

        return obj;
    }

    function ezal(args) {
        var res = modal.format(args.title, args.body);
        var obj = $(res);
        var button = '<button type="button" class="btn btn-primary" data-dismiss="modal">{0}</button>'.format(
            args.button
        );

        obj.find(".modal-footer").append(button);
        $("main").append(obj);

        obj.modal("show");

        $(obj).on("hidden.bs.modal", function (e) {
            $(this).modal("dispose");
        });

        return obj;
    }
</script>
<script>
    function connect_to_container(challenge, owner_id) {
        fetch(`/api/v1/connect?${new URLSearchParams({ 'id': challenge, 'owner': owner_id })}`).then(result => result.json()).then(result => {
            console.log(result);

            if (result['success']) {
                fetch(`${window.location.protocol}//${result['data'][0]}/guacamole/api/tokens`, { method: 'POST', headers: { "Content-Type": "application/x-www-form-urlencoded" }, body: new URLSearchParams({ 'data': result['data'][1] }) }).then(result => result.json()).then(auth => {
                    window.open(`${window.location.protocol}//${result['data'][0]}/guacamole/?token=${auth['authToken']}`, "_blank");
                });
            } else {
                ezal({
                    title: "Attention!",
                    body: "Failed to connect to the container. Please try again shortly.",
                    button: "Got it!"
                });
            }
        });
    }
</script>
{% endblock scripts %}
