{% extends 'admin/base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>AWS Config</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% for error in errors %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <span class="sr-only">Error:</span>
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            {% endfor %}
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" name='ecs_config'
                class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="aws-access-key-id-input">
                        AWS Access Key ID
                    </label>
                    {% if config.aws_access_key_id %}
                    <input class="form-control" type="text" name="aws_access_key_id" id="aws_access_key_id-input"
                        placeholder="Ex: AKI1234567890ABCDEFG" value='{{ config.aws_access_key_id }}' />
                    {% else %}
                    <input class="form-control" type="text" name="aws_access_key_id" id="aws_access_key_id-input"
                        placeholder="Ex: AKI1234567890ABCDEFG" />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="aws-secret-access-key-input">
                        AWS Secret Access Key
                    </label>
                    {% if config.aws_secret_access_key %}
                    <input class="form-control" type="text" name="aws_secret_access_key"
                        id="aws_secret_access_key_input-input"
                        placeholder="Ex: 87428fc522803d31065e7bce3cf03fe475096631"
                        value='{{ config.aws_secret_access_key }}' />
                    {% else %}
                    <input class="form-control" type="text" name="aws_secret_access_key"
                        id="aws_secret_access_key_input" placeholder="Ex: 87428fc522803d31065e7bce3cf03fe475096631" />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="region-input">
                        AWS Region
                    </label>
                    {% if config.region %}
                    <input class="form-control" type="text" name="region" id="region_input-input"
                        placeholder="Ex: eu-west-1" value='{{ config.region }}' />
                    {% else %}
                    <input class="form-control" type="text" name="region" id="region_input"
                        placeholder="Ex: eu-west-1" />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="cluster-ss">
                        Clusters
                    </label>
                    <select id='cluster-ss' name="cluster" class='form-control' size='10'>
                        {% if form.clusters.choices[0][0] == "ERROR" %}
                        <option value='False' disabled>{{ form.clusters.choices[0][1] }}</option>
                        {% elif form.clusters %}
                        {% for key,value in form.clusters.choices %}
                        {% if key == cluster %}
                        <option value='{{ key }}' selected>{{ value }}</option>
                        {% else %}
                        <option value='{{ key }}'>{{ value }}</option>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <option value='False' disabled>Connect to AWS first</option>
                        {% endif %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="vps-ss">
                        VPC
                    </label>
                    <select id='vps-ss' name="active_vpc" class='form-control' size='10'>
                        {% if form.vpcs.choices[0][0] == "ERROR" %}
                        <option value='False' disabled>{{ form.vpcs.choices[0][1] }}</option>
                        {% elif form.vpcs %}
                        {% for key,value in form.vpcs.choices %}
                        {% if key == active_vpc %}
                        <option value='{{ key }}' selected>{{ value }}</option>
                        {% else %}
                        <option value='{{ key }}'>{{ value }}</option>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <option value='False' disabled>Connect to AWS first</option>
                        {% endif %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="filter_tag-input">
                        (Optional) Tag key used to filter which subnets, security_groups, task_definitions are shown
                    </label>
                    {% if config.filter_tag %}
                    <input class="form-control" type="text" name="filter_tag" id="filter_tag-input"
                        placeholder="Ex: CTFd" value='{{ config.filter_tag }}' />
                    {% else %}
                    <input class="form-control" type="text" name="filter_tag" id="filter_tag" placeholder="Ex: CTFd" />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="guacamole_json_secret_key-input">
                        (Optional) Guacamole JSON Secret Key
                    </label>
                    {% if config.guacamole_address %}
                    <input class="form-control" type="text" name="guacamole_json_secret_key"
                        id="guacamole_json_secret_key-input" placeholder="Ex: e2bbb098e9f3c4367dd6121e90df7ab9"
                        value='{{ config.guacamole_json_secret_key }}' />
                    {% else %}
                    <input class="form-control" type="text" name="guacamole_json_secret_key"
                        id="guacamole_json_secret_key" placeholder="Ex: e2bbb098e9f3c4367dd6121e90df7ab9" />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="guacamole_address-input">
                        (Optional) Guacamole Address
                    </label>
                    {% if config.guacamole_address %}
                    <input class="form-control" type="text" name="guacamole_address" id="guacamole_address_input-input"
                        placeholder="Ex: guacamole.example.com" value='{{ config.guacamole_address }}' />
                    {% else %}
                    <input class="form-control" type="text" name="guacamole_address" id="guacamole_address_input"
                        placeholder="Ex: guacamole.example.com" />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="guide_enabled">
                        Hint sidebar enabled
                    </label>
                    <select name="guide_enabled" id="guide_enabled" class='form-control' size='2'>
                        <option value="true" {{ "selected" if config.guide_enabled else "" }}>True</option>
                        <option value="false" {{ "selected" if not config.guide_enabled else "" }}>False</option>
                    </select>
                </div>

                {{ form.nonce() }}
                <div class="col-md-13 text-center">
                    <button type="submit" tabindex="0" class="btn btn-md btn-primary btn-outlined">
                        Submit
                    </button>
                </div>
        </div>
        <input type="hidden" name="id" value="1">
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
